body {
    background-color: #944250;
    margin: 0px;
    padding: 0px;
    font-family: 'League Spartan', Arial, Helvetica;
}
    

.border {
    margin: 20px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 9px;
}

.border-primary {
    border-color: #E9D9DC !important;
}

.titulos {
    color: #E9D9DC;
    line-height: 10px;
    max-width: 400px;
}

h1 {
    font-size: 80px;
    font-weight: 900;
    line-height: 70px;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

h3 {
    font-size: 20px;
}

#fotoPerfil {
    max-width: 100%;
    position: absolute;
    top: 35px;
    left: 68%;
}

.menu {
    color: #E9D9DC;
    font-size: 25px;
    max-width: 200px;
    margin-top: 185px;
    margin-bottom: 20px;
    font-weight: 600;
    list-style: none;    
}

.menu .circle{
    display: none;
}

.menu li:hover .circle {
    display: inline;
}

.menu li:hover a {
    color: #292F36;
}

.menu a.ativo {
    color: #292F36;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.menu a {
    text-decoration:none;
    color: inherit;
}

.menu li img.circle {
    width: 29px;
    margin-right: 7px; 
}

.redesSociais {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 240px;
        left: 72%;
        margin-bottom: 40px;
        margin-top: -85px;
}